/bin/
/target/
MMOItems-API/target/
MMOItems-Dist/target/
/.settings/
/.idea/
/.m2/
.classpath
.project

MMOItems.eml
MMOItems.iml
MMOItems-API.eml
MMOItems-API.iml
MMOItems-Dist.eml
MMOItems-Dist.iml

.flattened-pom.xml
dependency-reduced-pom.xml
