# This is a basic workflow to help you get started with Actions
name: MMOitem Builder [Submit test]
# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
   push:
     branches: [ "*" ]
   pull_request:
     branches: [ "*" ]

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        server-id: phoenixdevt-releases
    - name: Install depends
      run: mvn install
    - name: Build with Maven
      run: mvn package
    - run: mkdir staging && cp target/*.jar staging
#     - name: Set Release version env variable
#       run: |
#         echo "RELEASE_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV
#     - name: "Build & test"
#       run: |
#         echo "done!"
#     - uses: "marvinpinto/action-automatic-releases@latest"
#       with:
#         repo_token: "${{ secrets.GITHUB_TOKEN }}"
#         automatic_release_tag: "${{ env.RELEASE_VERSION }}"
#         prerelease: false
#         title: "Release ${{ env.RELEASE_VERSION }}"
#         files: |
#           staging/*.jar
    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: MMOItems
        path: staging/*.jar